:root{
    --dark-blue-100: #609ED4;
    --dark-blue-200: #356EA9;
    --dark-blue-300: #0A3871;
    --dark-blue-400: #072B61;
    --dark-blue500: #052051;
    
    --light-blue-100: #F3F5FC;
    --light-blue-200: #EFF1FA;
    --light-blue-300: #E9ECF8;
    --light-blue-400: #AAB2D5;
    --light-blue-500: #757FB2;
    
    --gris-100: #CED4DA;
    --gris-200: #ADB5BD;
    --gris-300: #868E96;
    --gris-400: #495057;
    --gris-500: #343A40;
}

body{
    font-size: 1.5em;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

p{
    color: var(--dark-blue-500);
}

textarea{
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
}

.logo{
    width: 2.5%;
    margin: 0 2em;
}

.cifrar{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 75%;
    border-style: solid;
    border-width: .1em;
    top: 3em;
}

.botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.boton{
    margin: 1em 6em;
    width: 100%;
    padding: .3em;
}

#entrada-cifrar {
    resize: none; /*remove the resize handle on the bottom right*/
    width: 80%;
    height: 6em;
    font-size: 1em;
    text-align: center;
    margin-bottom: 35%;
}

#entrada-cifrar::placeholder{
    color: var(--dark-blue500);
}

#entrada-cifrar:focus{
    border: none;
    color: var(--dark-blue500);
    
}

.salida{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 30%;
    right: 3em;
    height: 72%;
    top: 2.8em;
    border-style: solid;
    border-width: .1em;
}

#entrada-descifrar{
    margin-bottom: 75%;

}

footer{
    display: block;
    font-size: .8em;
    margin: 2em 0;
    text-align: center;
    width: 100%;  
}